.cat-edit {
  border-radius: 6px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.9rem;
  height: 75vh;
}

.catnameedit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-delete {
  width: 100%;
}

.cat-edit input,
select,
button {
  width: auto;
  max-width: 100%;
}

.cat-edit input {
  flex-grow: 2;
}

.cat-edit select,
button {
  flex-grow: 3;
}

.cat-edit input,
select,
button {
  width: auto;
  max-width: 100%;
  flex-grow: 2;
}

.feed-data {
  display: flex;
  flex-wrap: wrap;
  margin: 0.9rem;
  flex-basis: 100%;
  justify-content: space-between;
}

.feedingtable {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0.4rem;
  border: 2px solid var(--accent);
  border-radius: 6px;
}

.feeding {
  flex-basis: 100%;
  display: flex;
  border: 2px solid var(--accent);
  border-radius: 6px;
}

@media (min-width: 500px) {
  .cat-edit {
    width: 500px;
    margin: auto;
  }
}
