.addcat,
.addplus {
  width: 25%;
}

.cataddtext {
  margin: 1.5rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  text-align: center;
}

.catadd {
  background-color: var(--base);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
