/* You can add global styles to this file, and also import other style files */
:root {
  --accent: #7a6c5d;
  --base: #ddc9b4;
  --background: white;
  --background-alt: #ddd;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--accent);
}
