/* You can add global styles to this file, and also import other style files */
:root {
  --accent: #7a6c5d;
  --base: #ddc9b4;
  --background: white;
  --background-alt: #ddd;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--accent);
}

input,
button {
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid var(--accent);
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.5rem;
}
