<form
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="username"
      >Username (must be between 3 and 20 characters long)</label
    >
    <input
      type="text"
      class="form-control"
      name="username"
      [(ngModel)]="form.username"
      minlength="3"
      maxlength="20"
      #username="ngModel"
      placeholder="{{ user?.username }}"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      email
      #email="ngModel"
      placeholder="{{ user?.email }}"
    />
  </div>
  <div class="form-group">
    <label for="password">Password (must be at least 6 characters)</label>
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="form.password"
      minlength="6"
      #password="ngModel"
      placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
    />
  </div>
  <div class="form-group">
    <button
      class="btn btn-primary btn-block"
      [disabled]="!form.username || !form.email || !form.password"
    >
      Update Details
    </button>
  </div>

  <div class="alert alert-warning" *ngIf="f.submitted && !isSuccessful">
    Update failed!<br />{{ errorMessage }}
  </div>
</form>

<form name="deleteForm" (ngSubmit)="onDeleteSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
    <button class="btn btn-primary btn-block">Delete Account</button>
  </div>
</form>

<div class="alert alert-success" *ngIf="isSuccessful">
  Your update was successful!
</div>
