.card {
  background-color: var(--content);
  border-radius: 10px;
  margin: 2.4rem;
  border-color: var(--base);
  flex-basis: 100%;
  box-shadow: 0 8px 16px 0 rgb(156, 155, 155);
  transition: 0.3s;
  scroll-snap-align: center;
  min-width: 85vw;
}

.card:hover {
  box-shadow: 0 0 25px #000;
  transform: scale(1.05);
}

.card-top {
  margin: 1.5rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top img {
  height: 1.5rem;
}

.card-content {
  margin: 0;
  align-content: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 60vh;
}
.card-content div {
  margin: 16px 16px;
  text-align: center;
  font-size: 16px;
}
.card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  margin-top: auto;
}
.card-image {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
}

.card-content img {
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid var(--base);
  max-width: 100%;
  height: auto;
  max-height: 40vh;
}

button,
select {
  background-color: white;
  padding: 0.5rem 2.5rem;
  margin: 0.5rem;
  box-shadow: 0;
  transition: box-shadow 1s;
}

button:hover {
  box-shadow: 0 0 3px #515151;
}

@media (min-width: 768px) {
  .card {
    min-height: 350px;
    max-height: 100%;
    max-width: 40%;
    flex-basis: auto;
    min-width: auto;
  }
  .card-content {
    height: 400px;
  }
  .card-content img {
    max-height: 300px;
  }
}
