<p *ngIf="!cats" class="card">Loading Data...</p>
<section *ngFor="let cat of cats" class="card">
  <div class="card-top">
    <a href="/catedit/{{ cat._id }}"
      ><img src="../../../assets/pencil.svg" alt=""
    /></a>
    <div>{{ cat.name }}</div>
    <a>
      <!-- <img src="../../../assets/dots.svg" alt="" /> from removed feature -->
    </a>
  </div>
  <div class="card-content">
    <div class="card-image">
      <img
        src="https://cataas.com/cat?height=300/says/{{ cat.name }}"
        alt="picture of {{ cat.name }}"
      />
    </div>
    <div *ngIf="cat.feedingTimes.length" class="card-text">
      Last Fed:
      {{ cat.feedingTimes[cat.feedingTimes.length - 1].time | date: "short" }}
    </div>
    <div *ngIf="cat.feedingTimes.length" class="card-text">
      Food Type: {{ cat.feedingTimes[cat.feedingTimes.length - 1].foodType }}
    </div>
    <div *ngIf="!cat.feedingTimes.length" class="card-text">
      This beast has not been fed give them a treat!
    </div>
  </div>
  <div class="card-bottom">
    <select
      #feedtype
      value="{{ cat.feedingTimes[cat.feedingTimes.length - 1]?.foodType }}"
    >
      <option value="Basic">Basic</option>
      <option value="Dry">Dry</option>
      <option value="Wet">Wet</option>
      <option value="Medicine">Medicine</option>
    </select>
    <button (click)="doFeedCat(cat._id, feedtype.value)" type="submit">
      Feed
    </button>
  </div>
</section>

<div *ngIf="!cats.length" class="nocats">
  No Cats added! Start tracking now!
</div>
<app-addcat class="card"></app-addcat>
